table {
    border-spacing: 10px;
    height: 100%;
    width: 100%;
}

td {
    height: 50%;
    width: 50%;
    cursor: pointer;
}

.red {
    background-color: #F25022;
}

.green {
    background-color: #80B90A;
}

.blue {
    background-color: #029BE1;
}

.orange {
    background-color: #F0B006;
}