.red {
    background-color: #F25022;
}

.green {
    background-color: #80B90A;
}

.blue {
    background-color: #029BE1;
}

.orange {
    background-color: #F0B006;
}

div.red, div.green, div.blue, div.orange {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }