.center {
  font-size: 400px;
  border: 1px solid black;
}

.red {
 color: red;
  width: 200px;
  height: 200px;
}

.green {
  color: green;
  width: 200px;
  height: 200px;
}

.blue {
  color: blue;
  width: 200px;
  height: 200px;
}

.orange {
  color: orange;
  width: 200px;
  height: 200px;
}
